:root {
    --fontBrand: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    background: url(./img/MeteoRod_BG.png) no-repeat center center fixed; 
    background-size: cover;
    background-color: black;
}

.font-brand {
    font-family: var(--fontBrand);
}

#earth {
    background-image: url(./img/MeteoRod_Earth.png);
    background-size: cover;
    background-position: top;
    position: absolute;
    bottom: 0;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

.earth-full {
    height: 55vh;
}

@media not all and (min-width: 768px) {
    .earth-mobile {
        height: 50vh;
    }

    .aspect-card {
        aspect-ratio: 1 / 1.7 !important;
    }

    .w-cards {
        max-width: 328px !important;
    }

    .w-blank {
        width: calc(50% - 80px) !important;
    }    
}

/* The number of cards on display will increment one by one. */
@media (min-width: 768px) {
    .w-cards {
        max-width: 368px !important;
    }
}

@media (min-width: 955px) {
    .w-cards {
        max-width: calc(368px * 2) !important;
    }
}

@media (min-width: 1355px) {
    .w-cards {
        max-width: calc(368px * 3) !important;
    }
}

@media (min-width: 1760px) {
    .w-cards {
        max-width: calc(368px * 4) !important;
    }
}

@media (min-width: 2160px) {
    .w-cards {
        max-width: calc(368px * 5) !important;
    }
}

.earth-contracted {
    height: 30vh;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

#locDiv:hover .btn-location {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

#locDiv:hover {
    cursor: pointer;
}

.pointerLink {
    cursor: pointer;
}

#cardBox {
    scroll-behavior: smooth;
}

#daySelector {
    scroll-behavior: smooth;
}

.max-w-days {
    max-width: 620px !important;
}

@media (min-width: 768px) {
    .w-blank {
        width: calc(50% - 96px) !important;
    }
}

.aspect-card {
    aspect-ratio: 1 / 1.8;
}

.transition-3 {
    transition: .3s;
}

.transition-6 {
    transition: .6s;
}

.transition-10 {
    transition: 1s;
}

.h-1\/12 {
    height: 10%;
}

.h-11\/12 {
    height: 90%;
}

.w-11\/12 {
    width: 90%;
}

.w-1\/12 {
    width: 10%;
}

.m-1\/60 {
    margin: 0 1.666666%;
}